{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	- Home
{% endblock %}

{% block body %}
	<h2 class="text-center">Latest Series</h2>
    {% include "home/_carousel.html.twig" %}
{% endblock %}
