@import '../variables.scss';

header {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    padding: $spacer * 0 $spacer;
    width: 100%;

    .titleHeader, .titleHeader:hover {
        text-decoration: none;
        color: $dark;
    }

    .logHeader {
        display: flex;
        align-items: center;

        .userMailHeader {
            color: $white;
            padding: $spacer * 0 $spacer * .5;
        }
        
        .logoutHeader {
            color: $warning;
        }
        
        .logoutHeader:hover {
            color: $danger;
        }
        
        .loginHeader, .registerHeader, .logoutHeader {
            text-decoration: none;
            font-weight: bolder;
            font-size: large;
            color: $white;
            padding: $spacer * 0 $spacer;
        }
        
        .loginHeader:hover, .registerHeader:hover {
            color: $warning;
        }
    }
}
