@import '../variables.scss';

nav {
    width: 100%;
    background-color: $light;

    .active {
        background-color: $dark;
    }

    .formSearchSeries {
        display: flex;
        flex-wrap: wrap;
        padding: $spacer * 0;
        margin: $spacer * 0;

        .inputSearchSeries {
            width: $column * 9;
        }
        
        .buttonSearchSeries {
            width: $column * 3;
        }
    }

    .dropdown-menu {
        padding: $spacer * 0;

        a {
            width: 100%;
            display: inline-block;
            padding: $spacer * 0 $spacer * .5;
            text-decoration: none;
            font-size: larger;
            color: $dark;
        }

        a:hover {
            background-color: $primary;
            color: $white;
        }
    }
}
