{% extends "mail/layout_email.html.twig" %}

{% block title %}Mail confirmation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hi! Please confirm your email!</h1>
        <div class="body">
            <p>
                Please confirm your email address by clicking the following link: <br><br>
                <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
                This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            </p>
            <p>Cheers!</p>
        </div>
    </div>
 {% endblock %}
