{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editSeries') }}
{% endblock %}

{% block title %}Edit Series{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit series</h1>
        <h2>{{ series.title }}</h2>
        {{ include('series/_form.html.twig') }}
    </div>
{% endblock %}
