{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newSeries') }}
{% endblock %}

{% block title %}New Series{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add new series</h1>
        {{ include('series/_form.html.twig') }}
    </div>
{% endblock %}
