@import '../variables.scss';

.container {
    display: flex;
    flex-direction: column;
    padding: $spacer;

    .addButtons {
        display: flex;
        width: 100%;

        .buttonAddSeries, .buttonAddCategory {
            width: $column * 2;
            margin-bottom: $spacer .5;
            margin-right: $spacer * .25;
        }
    }

    .body {
        display: flex;
        flex-wrap: wrap;

        .oneSeries {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: $column * 3;
            margin: $spacer $spacer * 0;

            .shinePosterSeries {
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                box-shadow: 8px 8px 12px #aaa;

                &::before {
                    background: linear-gradient(to right, fade_out(#fff, 1) 0%, fade_out(#fff, 0.7) 100%);
                    content: "";
                    display: block;
                    height: 100%;
                    left: -75%;
                    position: absolute;
                    top: 0;
                    transform: skewX(-25deg);
                    width: 50%;
                    z-index: 2;
                }
            
                &:hover, &:focus {
                    &::before {
                        animation: shine 0.85s;
                    }
                }
            
                @keyframes shine {
                    100% {
                        left: 125%;
                    }
                }
            }

            .rectificationButtonsSeries {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: $spacer * .5;
                margin-bottom: $spacer * .25;

                .buttonEditSeries {
                    width: $column * 4;
                    margin-right: $spacer * .25;
                }

                .formDeleteSeries {
                    width: $column * 4;
                    margin-left: $spacer * .25;

                    .buttonDeleteSeries {
                        width: 100%;
                    }
                }
            }

            .titleSeries {
                color: $dark;
                font-size: larger;
                text-decoration: none;
                margin-top: $spacer * 0;

                &:hover {
                    color: $primary;
                }
            }

            .nameCategory {
                color: $secondary;
                text-decoration: none;

                &:hover {
                    filter: brightness(20%);
                }
            }
        }
    }
}
