@import '../variables.scss';

.container {
    margin: $spacer;
    padding: $spacer;

    .buttonAddSeason {
        width: $column * 2;
        margin-bottom: $spacer .5;
    }

    .body {
        display: flex;

        .informations {
            margin: $spacer $spacer * .5 $spacer * .25;

            .heart {
                font-size: large;
                color: $danger;
                margin-left: $spacer * .25;
            }

            p {
                display: flex;

                a {
                    color: $primary;
                    text-decoration: none;
                    margin-left: $spacer * .25;

                    &:hover {
                        filter: brightness(20%);
                    }
                }
            }
        }

        .poster  {
            padding: $spacer * 0.5;
            border: thick double $secondary;
        }
    }

    .description {
        margin: $spacer * 2 $spacer * 3;
    }

    .descriptionImage {
        display: flex;
        justify-content: center;

        .image {
            width: $column * 9;
        }
    }

    .rectificationButtons {
        display: flex;
        margin-top: $spacer * 3;

        .buttonEdit {
            width: $column * 2;
            margin-right: $spacer * .25;
        }

        .formDelete {
            width: $column * 2;
            margin-left: $spacer * .25;

            .buttonDelete {
                width: 100%;
            }
        }
    }
}
