@import '../variables.scss';

.container {
    padding: $spacer;

    .buttonAddSeason {
        width: $column * 2;
        margin-bottom: $spacer .5;
    }

    .body {
        display: flex;

        .posterSeries {
            height: 300px;
            width: 220px;
        }

        .informationsSeries {
            margin: $spacer $spacer * .5 $spacer * .25;

            .heart {
                font-size: large;
                color: $danger;
                margin-left: $spacer * .25;
            }

            p {
                display: flex;

                a {
                    color: $primary;
                    text-decoration: none;
                    margin-left: $spacer * .25;

                    &:hover {
                        filter: brightness(20%);
                    }
                }
            }
        }
    }

    .descriptionSeries {
        margin: $spacer * 2 $spacer * 3;
    }

    .descriptionImageSeries {
        display: flex;
        justify-content: center;

        .imageSeries {
            width: $column * 9;
        }
    }

    .rectificationButtonsSeries {
        display: flex;
        margin-top: $spacer * 3;

        .buttonEditSeries {
            width: $column * 2;
            margin-right: $spacer * .25;
        }

        .formDeleteSeries {
            width: $column * 2;
            margin-left: $spacer * .25;

            .buttonDeleteSeries {
                width: 100%;
            }
        }
    }
}
