{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editCategory') }}
{% endblock %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit category : {{ category.name }}</h1>
        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
