{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newCategory') }}
{% endblock %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add new category</h1>
        <div class="body">
            {{ include('category/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
