{% extends 'layout.html.twig' %}
{% block title %} All series in category {% endblock %}

{% block body %}
    {% if series %}
        <h1 class="my-5">{{ series.0.category.name }}</h1>

        {% for oneSeries in series %}
            <div class="my-5">
                <h2>
                    <a href="{{ path("series_show", { 'slug': oneSeries.slug }) }}">{{ oneSeries.title }}</a>
                </h2>
                <p>{{ oneSeries.description }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    {% endif %}
{% endblock %}
