@import '../variables.scss';

.container {
    padding: $spacer;

    .buttonAddActor {
        width: $column * 2;
        margin-bottom: $spacer .5;
    }
    
    .body {
        .listActors {
            display: flex;
            flex-wrap: wrap;

            .castingPostersActor {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: $column * 3;
                margin: $spacer $spacer * 0;

                .linkActor {
                    width: $column * 9;

                    .posterActor {
                        height: $spacer * 18;
                        width: $spacer * 13;

                        &:hover {
                            opacity: .75;
                        }
                    }
                }

                .nameActor {
                    width: $column * 9;
                    text-decoration: none;
                    color: $dark;
                    margin-bottom: $spacer * .25;
                    text-align: center;

                    &:hover {
                        color: $primary;
                    }
                }

                .rectificationButtonsActor {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: $spacer;
        
                    .buttonEditActor {
                        width: $column * 4;
                        margin-right: $spacer * .25;
                    }
        
                    .formDeleteActor {
                        width: $column * 4;
                        margin-left: $spacer * .25;
        
                        .buttonDeleteActor {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
