@import '../variables.scss';

.container {
    padding: $spacer;

    .buttonAddActor {
        width: $column * 2;
        margin-bottom: $spacer .5;
    }
    
    .body {
        .casting {
            display: flex;
            flex-wrap: wrap;

            .castingPosters {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: $column * 3;
                margin: $spacer $spacer * 0;

                .actor {
                    width: $column * 9;

                    .actorPoster {
                        width:  $column * 12;

                        &:hover {
                            opacity: .75;
                        }
                    }
                }

                .actorName {
                    width: $column * 9;
                    text-decoration: none;
                    color: $dark;
                    margin-bottom: $spacer * .25;
                    text-align: center;

                    &:hover {
                        color: $primary;
                    }
                }

                .rectificationButtons {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: $spacer;
        
                    .buttonEdit {
                        width: $column * 4;
                        margin-right: $spacer * .25;
                    }
        
                    .formDelete {
                        width: $column * 4;
                        margin-left: $spacer * .25;
        
                        .buttonDelete {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
