{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editSeason') }}
{% endblock %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit season - The season {{ season.number }}</h1>
        {{ include('season/_form.html.twig') }}
    </div>
{% endblock %}
