{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newSeason') }}
{% endblock %}

{% block title %}New Season{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add new season</h1>
        <h2>{{ series.title }}</h2>
        <div class="body">
            {{ include('season/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
