{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editActor') }}
{% endblock %}

{% block title %}Edit Actor{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit actor : {{ actor.name }}</h1>
        <div class="body">
            {{ include('actor/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
