<footer>
    <div class="informations">
        <a href="#" role="button">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" role="button">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="#" role="button">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
</footer>
