@import '../variables.scss';

.container {
    padding: $spacer;

    .body {
        .form-control {
            width: 100%;
            margin-top: $spacer * .25;
            margin-bottom: $spacer * .5;
        }
        
        .buttonLogin {
            width: 100%;
            margin-top: $spacer * 2;
            margin-bottom: $spacer;
        }
    }
}
