@import '../variables.scss';

.form-control {
    width: 100%;
    margin-top: $spacer * .25;
    margin-bottom: $spacer * .5;
}

.formInputActors {
    height: $spacer * 25;
}

.buttonSeason {
    width: 100%;
    margin-top: $spacer * 2;
    margin-bottom: $spacer;
}
