@import '../variables.scss';

.container {
    padding: $spacer;

    .buttonAddEpisode {
        width: $column * 2;
        margin-bottom: $spacer .5;
    }

    .body {
        display: flex;

        .informationsSeason {
            margin: $spacer $spacer * .5 $spacer * .25;

            p {
                display: flex;

                a {
                    color: $primary;
                    text-decoration: none;
                    margin-left: $spacer * .25;

                    &:hover {
                        filter: brightness(20%);
                    }
                }
            }
        }
    }

    .descriptionSeason {
        margin: $spacer * 2 $spacer * 3;
    }

    .castingTitleSeason {
        font-weight: bolder;
        margin-bottom: $spacer;
    }

    .castingSeason {
        display: flex;
        flex-wrap: wrap;

        .castingPostersSeason {
            display: flex;
            width: $column * 3;
            flex-direction: column;

            .linkActor {
                width: $column * 9;

                .posterActor {
                    width:  $column * 12;

                    &:hover {
                        opacity: .75;
                    }
                }
            }

            .nameActor {
                width: $column * 9;
                text-decoration: none;
                margin-bottom: $spacer * 2;
                color: $dark;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .rectificationButtonsSeason {
        display: flex;
        margin-top: $spacer * 3;

        .buttonEditSeason {
            width: $column * 2;
            margin-right: $spacer * .25;
        }

        .formDeleteSeason {
            width: $column * 2;
            margin-left: $spacer * .25;

            .buttonDeleteSeason {
                width: 100%;
            }
        }
    }
}
