@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient($secondary, $white, $light);
    color: $dark;
}

main {
    box-shadow: 1px 1px 12px $secondary;
    background-color: $white;
    margin-top: $spacer * 3;
    padding: $spacer * 3;
}

h1, h2 {
    text-align: center;
}

.alertNewSeries {
    padding: $spacer;
}
