@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient($secondary, $white, $light);
    color: $dark;

    .alertSeries {
        padding: $spacer;
        width: 100%;
    }

    main {
        box-shadow: 1px 1px 12px $secondary;
        background-color: $white;
        margin-top: $spacer * 3;
        padding: $spacer * 3;
        width: $column * 8;

        h1 {
            padding-bottom: $spacer * 2;
        }
        
        h1, h2 {
            text-align: center;
        }
    }
}
