@import "~bootstrap/scss/bootstrap";

.fab {
    color: $secondary;
    background-color: $white;
    border-radius: 50%;
}

.fab:hover {
    transition-duration: .7s;
    color: $dark;
    background-color: $warning;
}
