@import "~bootstrap/scss/bootstrap";

.img {
    width: 30px;
    height: 30px;
}

.title {
    text-decoration: none;
}

.log {
    font-weight: bolder;
    text-decoration: none;
    font-size: large;
    color: $white;
}

.log:hover {
    color: $warning;
}
