{% extends 'layout.html.twig' %}

{% block title %}Edit serie
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h2 class="text-center">Edit series</h2>
        <div class="col-8 d-flex row">
            <div class="d-flex flex-column">
                {{ include('serie/_form.html.twig', {'button_label': 'Update'}) }}
                <a href="{{ path('serie_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
