@import '../variables.scss';

.container {
    padding: $spacer;

    .rectificationButtonsEpisode {
        display: flex;
        margin-bottom: $spacer .5;

        .buttonEditEpisode {
            width: $column * 2;
            margin-right: $spacer * .25;
        }

        .formDeleteEpisode {
            width: $column * 2;
            margin-left: $spacer * .25;

            .buttonDeleteEpisode {
                width: 100%;
            }
        }
    }

    .body {
        display: flex;

        .posterSeason {
            height: $spacer * 19;
            width: $spacer * 14;
        }

        .informationsEpisode {
            margin: $spacer $spacer * .5 $spacer * .25;

            p {
                display: flex;

                a {
                    color: $primary;
                    text-decoration: none;
                    margin-left: $spacer * .25;

                    &:hover {
                        filter: brightness(20%);
                    }
                }
            }
        }
    }

    .descriptionEpisode {
        margin: $spacer * 2 $spacer * 3;
    }

    .descriptionPosterEpisode {
        display: flex;
        justify-content: center;

        .posterEpisode {
            height: $spacer * 31;
            width: $spacer * 62;
        }
    }

    .formCommentEpisode {
        margin-top: $spacer * 3;
    }

    .listCommentsEpisode {
        margin-top: $spacer * 3;

        .titleCommentEpisode {
            font-size: larger;
        }

        .commentEpisode {
            background-color: $secondary;
            filter: brightness(210%);
            margin-bottom: $spacer * 2;

            p {
                margin: $spacer * .25;
            }
        }
    }
}
