<div class="d-flex flex-column align-items-center bg-primary py-5 my-4">
    <div class="col-8">
        <footer class="d-flex justify-content-center">
            <a class="mx-4" href="#" role="button">
                <i class="p-3 fab fa-twitter"></i>
            </a>
            <a class="mx-4" href="#" role="button">
                <i class="p-3 fab fa-facebook-f"></i>
            </a>
            <a class="mx-4" href="#" role="button">
                <i class="p-3 fab fa-instagram"></i>
            </a>
            <a class="mx-4" href="#" role="button">
                <i class="p-3 fab fa-linkedin-in"></i>
            </a>
        </footer>
    </div>
</div>
