<div class="d-flex flex-column align-items-center">
    <div class="col-8">
        <footer>
            <a class="test" href="#" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="test" href="#" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="test" href="#" role="button">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="test" href="#" role="button">
                <div class="fab ">
                    <i class="fa-linkedin-in"></i>
                </div>
            </a>
            <a class="test" href="#" role="button">
                <div class="fab ">T</div>
            </a>
        </footer>
    </div>
</div>
