@import '../variables.scss';

.container {
    padding: $spacer;

    .body {
        .carouselImage {
            width: $column * 12;
            height: $spacer * 40;
        }
        
        .carousel-caption {
            background: #AAAAAA;
            opacity: 0.85;
        }
    }
}
